*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

 .flex_container{
    border: 2px solid red;
    height: 100vh;
    width: 100vw;

    /* display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: end;
    flex-wrap: wrap;
    align-content: start; */


    /* display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   align-content: start;
justify-content: center;
   align-items: center; */

/*
    display: flex;
    flex-direction: row;
    align-items:start;
    justify-content: space-evenly;

    flex-direction: column;
    align-items: end;
    justify-content: space-between;

    flex-wrap: wrap;
    align-content: flex-start;

    flex-flow: row wrap;


    */
 }
.box{
    height: 100px;
    width: 100px;
    border: 2px solid green;
    margin: 5px;
} 


