*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

}

.box1{
    border: 2px solid red;
    background-color: beige;
    width: 100px;
    height: 100px;
    position: relative;
    left: 10px;
    top: 10px;

    /* transform: translate(120px); */
    /* transform: rotateY(45deg) ; */
    /* transform: scale(5,1); */
    /* transform: skewY(45deg); */

    animation-name: roller_coster;
    animation-duration: 5s;
    animation-iteration-count: 4;
    animation-fill-mode: forwards;

}



@keyframes roller_coster{
    from{
        /* transform: rotateY(0deg) rotateX(0deg) ; */
        transform: skewX(0deg);
    }
    to{
        /* transform: rotateY(10deg) rotateX(360deg) rotateZ(80deg); */
        transform: skewX(360deg);
    }

}